html body{
  font-family: Finlandica;
}

#logout-btn{
  position: absolute;
  right: 0;
  margin-top: 30px;
}
.email {
  position: absolute;
  right: 0;
}


#left-nav-title{
  padding-left: 10px;
}

.navbar-brand{
  font-family: Cookie;
}


.container-md{
  position:relative



}

.col-lg-4 {
  padding-top : 20px;
  width: 50%;
  height: 50%;
  margin: auto;


}


.btn.btn-success{
  margin-top: 25px;
  
}
#del-btn {
  margin: auto;
}



.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
  }
  .section h4{
  text-align: center;
  font-size: 4rem;
  color: white;
  font-family: Cookie;
  z-index: 1; 
}

.index-btn{
  position: relative;
  text-align: center;
  z-index: 1;
  margin-right: 100px;
  margin-left: 75px;
}
.btn .btn-outline-dark{
  margin-left: 100px;
  padding: 20px;
  right: 20px;
}


.video-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.color-overlay{
  position: absolute;
  top: 0;
  left: 0;
  background: lightgrey;
  width: 100%;
  height: 100vh;
  opacity: 0.1;
}