
.btn{
  margin-top: 10px;
}

#logout-btn{
  margin-left: 94%;

}


.note-form{
  margin-right: 50%;
  margin-left: 20px;
}
.title-inputbx{
  margin-top: 0px;
}
.note-inputbx{
  margin-top: 15px;
}
.label-title{
  text-align: center;
  margin-left: 50px;

}
