{% extends "base.html" %}

{% block head %}

<h1 style="text-align:center">Add Notes</h1>
{% endblock %}

{% block body %}
<!-- 
<form style="text-align:center" action="http://localhost:5000/add_notes/" method="POST"> 
  <div> 
    <label class="form-label">Note</label> 
      <input type="text" class="form-control-lg" placeholder="Enter a Note" name="Note"> 
      <button  style="text-align:center", class="btn btn-primary" type="submit">Save</button>
  </div>
</form>
-->

<form style="text-align:center"  class="form-group" action="http://localhost:5000/add_notes/" method="POST">
  <div class="col-xs-4">
    
    <label for="exampleFormControlInput1">Enter Title</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="eg: My Title" name="Title">
  </div>
  
  <div class="col-xs-4">
    <label for="exampleFormControlTextarea1">Enter Note</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="eg: My Notes" name="Note"></textarea>
    <button  style="text-align:center", class="btn btn-success" type="submit">Save</button>
  </div>
  
</form>


<div>
  <p style="text-align:center">
    <strong>
      YOUR NOTES
    </strong>
  </p>
  <p style="text-align:center">Last saved Note was : <strong>{{titles}}</strong> {{notes}} </p>
</div>


<div style="text-align:center">
  <a href="/">
    <button type="button" class="btn btn-primary">Home</button>
  </a>


<div>
<strong>Your have total of {{note_count}} notes </strong>
  <ul>
    {% set printed_list = [] %}

      {% for i in range(note_count) %}
        {% for note in note_list %}
        
          {% if note not in printed_list and i not in printed_list %}

            <li class="list">Note {{note.No}}: <strong>{{note.Titles}}</strong> {{note.Notes}}</li>
            <a href ="/add_notes/edit/{{note.No}}"
            <button type="button" action="/add_notes/edit"class="btn btn-warning name="edit" method="POST">EDIT</button>
            </a>

            <a href="/add_notes/delete/{{note.No}}">
              <button type="button" action="/add_notes/delete" class="btn btn-danger" name="delete" method="POST">DELETE</button>
            </a>
            {% set note_no = note.NO %}
            
            <p hidden> {{ printed_list.append(i) }}</p>
            <p hidden> {{ printed_list.append(note) }}</p>
            
          {% endif %}
          

        
      {% endfor %}
    {% endfor %}
  </ul>
</div>

{% endblock %}