{% extends "base.html" %}

{% block head%}

<h1 class="text-3xl font-bold underline">
EDIT PAGE</h1>

{% endblock %}

{%block body %}

<form style="text-align:center"  class="form-group"  method="POST" >
    <div class="col-xs-4">
      
      <label>Update Title</label>
        <input type="text" class="form-control" name="Title" value="{{title}}">
    </div>
    
    <div class="col-xs-4">
      <label>Update Note</label>
        <textarea class="form-control" id="textarea" rows="2"  name="Note">{{note}}</textarea>
        <a href="/notes/">
          <button  style="text-align:center", class="btn btn-success" type="submit" action="/notes/">Save</button>
        </a>
    </div>
    
</form>

{% endblock %}