
{% extends "base.html" %}

{% block head %}

<h1 style="text-align:center">Notes</h1>
<nav class="navbar navbar-expand-lg navbar-dark">
    <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="/add_notes">Add Note</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Create Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
        
      </ul>

</nav>
{% endblock %}

{% block body %}
<div>
  <p>git inventore necessitatibus exercitationem nihil, facilis ipsa laudantium modi eaque illum accusamus.</p>

</div>

{% endblock %}