{% extends "base.html" %}

{% block head %}


<a href="/logout/">
    <button id="logout-btn" class="btn btn-outline-danger">Logout</button>
</a>



{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages%}
      <p style="text-align: center; font-family:arial; color:green;">{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}


{% endblock %}

{% block body %}
<!-- 
<form style="text-align:center" action="http://localhost:5000/add_notes/" method="POST"> 
  <div> 
    <label class="form-label">Note</label> 
      <input type="text" class="form-control-lg" placeholder="Enter a Note" name="Note"> 
      <button  style="text-align:center", class="btn btn-primary" type="submit">Save</button>
  </div>
</form>
-->
<h3 style="text-align: left;">Add Notes</h3>
<form class="note-form" action="/notes/" method="POST">
  <div class="title-inputbx">
    
    <label class="label-title">Enter Title</label>
      <input type="text" class="form-control" placeholder="Title" name="Title">
  </div>
  
  <div class="note-inputbx">
    <label class="label-note">Enter Note</label>
      <textarea class="form-control" id="textarea" rows="2" placeholder="Note" name="Note"></textarea>
    <button class="btn btn-success float-right" type="submit">Save</button>
  </div>
  
</form>




<!-- 
<form action="/add_notes/" method="POST"> 
  <div> 
      <input type="text" class="form-control-lg" placeholder="Search" name="Search"> 
      <button  style="text-align:center", class="btn btn-primary" type="submit">Search</button>
  </div>
</form>


<p>{{found_note}}</p>
-->
<div>
  <p>Logged in as {{username}}</p>
</div>


<div>
  <p style="text-align:center">
    <strong>
      YOUR NOTES
    </strong>
  </p>
  <p style="text-align:center">Last saved Note was :<br> Title : <strong>{{titles}}</strong> <br> Note : {{notes}} </p>
</div>



<div>
<strong>Your have total of {{note_count}} notes </strong>
  <ul>
    {% set printed_list = [] %}

      {% for i in range(note_count) %}
        {% for note in note_list %}
        
          {% if note not in printed_list and i not in printed_list %}

            <li class="list"><strong>{{note.Titles}}</strong><br>{{note.Notes}}</li>
            <a href ="/notes/edit/{{note.No}}"
            <button type="button" action="/add_notes/edit"class="btn btn-outline-warning" name="edit" method="POST">EDIT</button>
            </a>

            <a href="/notes/delete/{{note.No}}">
              <button type="button" action="/notes/delete" class="btn btn-outline-danger" name="delete" method="POST">DELETE</button>
            </a>
            {% set note_no = note.NO %}
            
            <p hidden> {{ printed_list.append(i) }} </p>
            <p hidden> {{ printed_list.append(note) }}</p>
            
          {% endif %}
          

        
      {% endfor %}
    {% endfor %}
  </ul>
</div>

{% endblock %}