{% extends "base.html" %}

{% block head %}





{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages%}
      <p style="text-align: center; font-family:Finlandica; color:green; margin-bottom: 0px;">{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}



 
  <div class="container">
    <a href="/logout/">
        <button id="logout-btn" class="btn btn-outline-danger">Logout</button>
    </a>
    <div class="email">
      <p>{{username}}</p>
    </div>
  </div>
  


{% endblock %}

{% block body %}




<div class="container mt-3">
  <form method="POST">
  <h2 style="text-align: center; margin-top: 60px;">ADD NOTE</h2>
  
  <div class="input-group mb-3">
    <span class="input-group-text">Title</span>
    <input type="text" class="form-control" placeholder="Title" name="Title">
  </div>
  <div class="input-group input-group-md mb-3">
    <span class="input-group-text">Note</span>
    <textarea class="form-control" id="textarea" rows="3" placeholder="Note" name="Note"></textarea>
  </div>
  <div style="text-align: center;">
    <button class="btn btn-success" style="margin-top: 0px;" type="submit">Save</button>
  </div>
</form>

</div>

<!-- 
<form action="/add_notes/" method="POST"> 
  <div> 
      <input type="text" class="form-control-lg" placeholder="Search" name="Search"> 
      <button  style="text-align:center", class="btn btn-primary" type="submit">Search</button>
  </div>
</form>


<p>{{found_note}}</p>
-->


<!--
<div>
  <p style="text-align:center">Last saved Note was :<br> Title : <strong>{{titles}}</strong> <br> Note : {{notes}} </p>
</div>
-->

<div style="text-align: center; margin-top: 20px;">
  <h3>
    YOUR NOTES
  </h3>
</div>

<div style="text-align: center;">
<strong>Total Notes : {{note_count}}</strong>

<div class="container mt-3">
  <table class="table table-hover">
    <thead class="table-dark">
      <tr>
        <th>N0</th>
        <th>TITLE</th>
        <th>NOTES</th>
        <th>OPTION</th>
      </tr>
    </thead>

    {% set printed_list = [] %}

      {% for i in range(note_count) %}
        {% for note in note_list %}
        
          {% if note not in printed_list and i not in printed_list %}
                
                <tbody>
                  <tr>
                    <td>{{i+1}}</td>
                    <td>{{note.Titles}}</td>
                    <td>{{note.Notes}}</td>
                    <td>
                      <a href ="/notes/edit/{{note.No}}"
                      <button type="button" action="/add_notes/edit/"class="btn btn-outline-warning" name="edit" method="POST">EDIT</button>
                      </a>
                      
                      <a href="/notes/delete/{{note.No}}">
                        <button type="button" action="/notes/delete/" class="btn btn-outline-danger" id="del-btn" name="delete" method="POST">DELETE</button>
                      </a>
                    </td>
                  </tr>
                </tbody>
                    
            {% set note_no = note.NO %}
            
            <p hidden> {{ printed_list.append(i) }} </p>
            <p hidden> {{ printed_list.append(note) }}</p>
            
          {% endif %}
          

        
      {% endfor %}
    {% endfor %}
  </table>
</div>
{% endblock %}