{% extends "base.html" %}

{% block head %}


{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages%}
      <p style="text-align: center; font-family:Finlandica; color: yellow;">{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}



<style>
  .bg-img{
    background-image: url("/static/img/register-bg.jpg") ;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;



  }
  .navbar{
    background-image: inherit;

  }
 

</style>
{% endblock %}

{% block body%}

<div class="bg-img">
  <div class="container-sm">
    <form method="POST">
      <h2 style="text-align: center;">Register</h2>

        <div class="col-lg-4">
          <label class="form-label">Username</label>
          <input type="text" class="form-control" placeholder="Username" name="username" required>
        </div>

        <div class="col-lg-4">
          <label class="form-label">Email</label>
          <input type="email" class="form-control" placeholder="Email" name="email" required>
        </div>
    
        <div class="col-lg-4">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" placeholder="Password" name="password" required>
          <button  style="text-align:center", class="btn btn-success" type="submit">Submit</button>
        </div>

        <div class="col-lg-4">
          <p class="paragraph"">Already have an account!<br>
            <a href="/login/"><strong>Login</strong></a> here.
          </p>
        </div>
    
    </form>
  </div>
</div>

{% endblock %}